nav li
{
	display:inline; font-size:20px; margin-left: 2rem; margin-right: 2rem;
}

img 
{
	width:30%; float:left; margin-right: 1.5rem; position:relative; border:dashed 1px;
}

body 
{
	max-width:600px; background-color:#cccccf; margin-left:50px

}

table, th, tr, td
{
	border-style:solid; margin-left:200px
}
