/*h1
{
	color:#3A2A15; margin-left:1rem; text-align: center; font-size:1.9rem;
}*/

nav
{
	text-align: center; background-color: #F0D9BE; padding: 0.05rem; 
	
}

nav li
{
	text-align:center; display:inline; font-size:20px; margin-left: 1rem; 
	margin-right: 1rem; color: #3A2A15
}

header
{
 	width:100%; background-color:#F0D9BE; margin-bottom: 
 	2rem; border-width: 1rem; border:solid 2px; border-color:#D8C6AF;
}
img
{
	border:solid 2px; border-color:#D8C6AF;
}



img.n1 
{
	max-width:30%; width:142px; float:left; margin-top: 0rem; 
	margin-right: 1.5rem; position:relative;
}

body 
{
	background-color: #F6ECDF; color:#211608;
	 background-size: 100% 100%;background-attachment: fixed;
	  background-repeat: no-repeat; margin-left:50px; font-family:Arial; 
    	margin-bottom: 10px; font-size: .75rem;

}

div.topindex
{
	background-color:#EEEEEE; margin:10px auto; border:3px solid; clear:both;
    padding:10px; position: relative; max-width: 600px; float:center; border-radius: 10px; border-bottom: 20px
}
div.top
{
	border:3px solid; border-color: #D8C6AF
}
div.topleft
{
	float:left; max-width: 45%; margin:20px auto; border:3px solid; border-color: #D8C6AF; clear:both;
	padding:10px; position: relative; padding-bottom: 50px
}

div.topright
{
	float:right;max-width: 45%; margin:20px auto; border:3px solid; border-color: #D8C6AF;
    padding:10px; position: relative; padding-bottom: 50px
}
footer
{
    position:relative; float: bottom; clear:both; width:100%; margin-top: 3rem;
    background-color:#F0D9BE; margin-bottom: 1rem; border:solid 2px; border-color:#D8C6AF;
}
span.by
{
	float:right; background-color:#F0D9BE; 
}


div.about1
{
	max-width: 600px; text-align:left;
}

div.whyweb
{
	max-width: 600px;
}

div.writing
{
	max-width: 600px;
}

div.fundiv
{
	max-width: 600px
}

div.fundiv2
{
	max-width:600px; text-align: below;
}
div.hhmain
{
	float:left; max-width: 600px
}
div.bones
{
	float: right; max-width: 502px; border: 2px solid; border-color:#D8C6AF;
}

img.bones
{
	max-width: 500px; margin-right: 50px;
}

h2.n1
{
	font-size:1.65rem; margin-top: 2rem
}

p.n1
{
	max-width:800px; font-size:1.45rem; margin-top: 2rem
}

p.n2
{
	font-size:1.1rem; float: left;
}



p.n3
{
	font-size:1.1rem; float: right;
}



p.n4
{
	border-color:#D58AEC; border-radius: 25px
}


thead
{
	font-size: 1.5rem
}

table, tr 
{
border:double, dashed, black;
}

img.n2
{
	text-align:left; border-top:10px
}

button
{
	white-space:20px
}