*/*{
   border: 1px solid red !important;
}*/
body 
{
	max-width: 600px; 
	font-family: 'Nixie One';
	font-size: 22px;
	line-height: 30px;
	padding-top: 30px;
	padding: 60px;
	margin-left:22.5%;
	background-color: #F3D7C1;
}
h1
{
	font-size:72px;
	line-height: 75px;
	margin-bottom: 15px;

}
nav li
{
	display: inline;
}
h2
{
	font-size: 33px;
	line-height: 60px;
	margin-top:30px;
}
h3
{
	font-size:27px;
	margin-top:7.5px;
	margin-bottom:7.5px;
}
footer
{
	margin-top: 60px;
}
img.jo-face
{
	max-height:240px; 
	float:right; 
	/*margin-top: 30px; */
/*	padding: 7.5px*/
}
img.mail
{
	max-height: 30px; 
}
img.twit
{
	max-height: 45px;
}
p 
{
	margin-top:15px;
}
img.bones
{
	max-width: 300px;
}




